<title>Seminar Videos & Images Page</title>
{% extends 'base.html' %}
{% load static %}
{% block center_data %}
    <style>
    #oo1{
        height: 350px;
        width: 350px;
        margin-bottom: 20px;
    }
    p{
        font-family: 'EB Garamond', serif;
        font-size: 20px;
    }
    </style>
    <div class="container">
    <br><br><br><br><br>
    <div class="row">
            <h4><b>Motivational Seminars</b></h4><br>
        <div class="col-md-12">
            <p>Lakhani generally conduct his seminars for bigger audience, say more than 500 and recommended
                duration is 90 to 180 minutes.</p>
            <p>For booking, Contact him at WhatsApp: 9111990094</p>
            <embed src="https://www.youtube.com/embed/F9Bo89m2f6g" allowfullscreen="true" width="410" height="344">
            <embed src="https://www.youtube.com/embed/_melegAnmkY" allowfullscreen="true" width="410" height="344">
            <embed src="https://www.youtube.com/embed/ZbfQ5q0SeYU" allowfullscreen="true" width="410" height="344">
            <embed src="https://www.youtube.com/embed/jNuKwlKJx2E" allowfullscreen="true" width="410" height="344">
            <embed src="https://www.youtube.com/embed/T1y3aIfZXJ8" allowfullscreen="true" width="410" height="344">
            <embed src="https://www.youtube.com/embed/T1y3aIfZXJ8" allowfullscreen="true" width="410" height="344">
                            <br> <br> <br> <br> <br>
                <img id="oo1"
                     src="https://images.unsplash.com/photo-1517309246852-c500628fefad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                <img id="oo1"
                     src="https://images.unsplash.com/photo-1517309246852-c500628fefad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                <img id="oo1"
                     src="https://images.unsplash.com/photo-1517309246852-c500628fefad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                <img id="oo1"
                     src="https://images.unsplash.com/photo-1517309246852-c500628fefad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                <img id="oo1"
                     src="https://images.unsplash.com/photo-1517309246852-c500628fefad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                <img id="oo1"
                     src="https://images.unsplash.com/photo-1517309246852-c500628fefad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                <img id="oo1"
                     src="https://images.unsplash.com/photo-1517309246852-c500628fefad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                <img id="oo1"
                     src="https://images.unsplash.com/photo-1517309246852-c500628fefad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                <img id="oo1"
                     src="https://images.unsplash.com/photo-1517309246852-c500628fefad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                <img id="oo1"
                     src="https://images.unsplash.com/photo-1517309246852-c500628fefad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                <img id="oo1"
                     src="https://images.unsplash.com/photo-1517309246852-c500628fefad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                <img id="oo1"
                     src="https://images.unsplash.com/photo-1517309246852-c500628fefad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                <img id="oo1"
                     src="https://images.unsplash.com/photo-1517309246852-c500628fefad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"><br>

            <a class="bottom_links btn btn-default btn-xs" href="{% url 'pulak' %}" >Pulak Lakhani</a>
            <a class="bottom_links btn btn-default btn-xs" href="{% url 'courses' %}"> Course Details</a>
            <a href="#" class="bottom_links btn btn-default btn-xs" >Contact US</a>
        </div>
        <div class="col-md-1"></div>
    </div>
    </div>
{#    </div>#}
{% endblock %}